@use "../../styles/colors";
@use "../../styles/mixins";
@use "../../styles/buttons";

section.error {
  display: flex;
  flex-wrap: wrap;
  background-color: colors.$grey-lighter;

  > * {
    @include mixins.responsive-min-width(500px);
    min-height: calc(100vh - 80px);
    padding: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    flex-grow: 1;
    flex-basis: 50vw;
  }

  .message {
    .title {
      font-size: 35px;
      font-weight: 500;
    }

    .subtitle {
      @include mixins.vertical-margin(20px);
      font-size: 22px;
      color: colors.$grey-light;
    }

    .actions {
      @include mixins.vertical-margin(15px);

      .button {
        @include mixins.horizontal-margin(6px);
        font-size: 18px !important;
      }
    }
  }

  .illustration {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;

    @each $type in bus, metro, train, tram {
      &.#{$type} {
        background-image: url("../../images/illustrations/#{$type}.png");
      }
    }
  }
}
