@use "../../styles/colors";
@use "../../styles/mixins";

section.legal {
  max-width: 1000px;
  margin: 0 auto;
  @include mixins.responsive-padding(50px 60px, 30px);

  font-size: 17px;

  h1,
  h2,
  h3 {
    color: colors.$secondary;
  }

  p {
    @include mixins.vertical-margin(14px);

    &.definition,
    &.figure {
      text-align: center;
    }

    &.figure {
      margin: 30px 0;
      color: colors.$dark-grey-2;

      span {
        display: block;
        margin-top: 14px;
      }
    }
  }

  ul > li {
    @include mixins.vertical-margin(7px);
  }
}

section.download {
  @include mixins.responsive-padding(50px 60px, 30px);
  background-color: colors.$grey-lighter;
  text-align: center;
}
