@import "./colors";

/** Buttons **/
button {
  border: none;
  cursor: pointer;
  outline-style: none;
}

.button {
  background: transparent;
  border: 1px solid $secondary;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 20px !important;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &.reverse {
    background-color: $secondary;
    color: white;
  }

  &.light {
    color: white;
    border-color: white;

    &.reverse {
      background-color: white;
      color: #5fc1c8;
    }
  }
}
