@use "../../styles/colors";
@use "../../styles/mixins";

section.team {
  display: flex;
  flex-direction: column;

  @include mixins.responsive-padding(40px, 20px);
  background-color: colors.$grey-lighter;

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.vertical-margin(15px);

    .title {
      font-size: 30px;
      font-weight: bold;
      color: colors.$secondary;
    }

    .tags {
      .tag {
        margin: 10px 10px 0 0;
        padding: 5px 8px;
        background-color: colors.$dark-grey-1;
        border-radius: 8px;
        font-size: 12px;
        color: white;
      }
    }

    .description {
      max-width: 700px;
      font-size: 18px;
    }

    .title,
    .tags,
    .description {
      @include mixins.vertical-margin(10px);
      text-align: center;
    }

    .subcategory {
      margin: 10px 0 0;

      .title {
        font-weight: 600;
        color: grey;
        font-size: 22px;
        margin: 5px;
      }
    }

    .persons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
      }

      .person {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 260px;
        margin: 15px;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);

        > * {
          @include mixins.vertical-margin(4px);
        }

        .avatar,
        .social {
          @include mixins.vertical-margin(12px);
        }

        .avatar {
          width: 100px;
          border-radius: 50%;
        }

        .name {
          font-size: 18px;
          font-weight: bold;
          color: colors.$secondary;
        }

        .name,
        .position {
          text-align: center;
        }

        .social {
          .icon {
            height: 20px;
            margin: 0 5px;

            &:hover {
              opacity: 0.75;
            }
          }
        }
      }
    }
  }
}
