@import "../../styles/colors";

nav {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 80px;
  background-color: $primary;

  > * {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 100vw;

    padding: 20px;
  }

  .control {
    img {
      height: 20px;
    }
  }

  .imagotype {
    justify-content: center;

    padding: 0;

    img {
      height: 70%;
    }
  }
}
